/***********desktop structural css*************/
@media screen and (min-width:460px) {

	/* 标题与导航 */
	#logo {
		height: 80px;
		padding: 10px 0;
	}

	#logo h1 {
		float: left;
		padding: 0 30px;
	}

	#logo nav {
		float: right;
	}

	#morelist {
		/* 按钮 */
		display: none;
	}

	#site_list {
		display: inline-block;
	}

	#site_list ul {
		position: relative;
		height: auto;
		top: 20px;
	}

	#site_list li {
		display: inline-block;
		padding: 10px 10px;
	}
	
	#text {
		width: 80%;
		margin: 0 auto;
	}

}

/***********移动界面css*************/

@media screen and (max-width:460px) {

	/* 标题与导航 */
	#logo {
		position: fixed;
		flex-flow: column;
		height: auto;
		padding: 10px 0;
	}

	#logo h1 {
		display: inline;
	}

	#logo nav {
		flex-grow: 1;
		display: none;
	}

	#morelist {
		display: block;
		/* 按钮 */
		position: fixed;
		float: right;
		top: 18px;
		right: 20px;
	}

	#site_list {
		display: none;
	}

	#site_list ul {
		height: 100vh;
	}

	#site_list li {
		padding: 10px 10px;
	}


}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	/* 背景色 */
	background-color: #fdfdfd;
	/* 文本位置 */
	text-align: center;
}

/* 超链接样式 */
a {
	color: darkgoldenrod;
	text-decoration: none;
}

a:hover {
	color: darkorange;
}

/* 导航栏 */
#logo {
	/* 位置 */
	width: 100%;
	z-index: 100;
	/* 颜色 */
	background: linen;
}

#site_list ul {
	margin: 0;
	padding: 0;
}

#site_list li {
	/* 字体 */
	font-size: 20px;
	font-weight: bold;
	/* 位置 */
	padding: 10px auto;
	margin: auto auto;
	/* 样式 */
	list-style: none;
}

/* 页脚 */
#foottext {
	color: darkgoldenrod;
	background-color: lightgoldenrodyellow;

	/* 大小 */
	width: 100%;
	/* 位置 */
	position: absolute;
}

img {
	max-width: 100%;
}

/* 待显示的文本 */
#text {
	padding: 20px;
	text-align: left;
	/* 颜色 */
	color: darkslategray;
}

#friend_site,
#copyright {
	display: inline;
	font-weight: bold;
}