@import url("base.css");
@import url("color/color_post.css");

#text {
	width: 70%;
	margin:0 auto;
	
	text-align:left;
	
	padding: 30px 30px;
	border-radius: 10px;
}

#copyright *{
	margin:0 auto;
}

#backhome {
	text-align: left;
}

#backhome p{
	margin: 0;
	padding: 10px 5px;
	
	font-size: 20px;
	font-weight: bold;
}

#backhome img{
	width: 16px;
	padding: 0 10px;
}